<div class="espacamento">

  <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="mb-2">
            <img class="foto" src="/assets/foto.jpg" alt="">
          </div>

          <div class="mb-2 d-flex">
            <h4 class="font-weight-normal">Carlos Emanuel Fernandes Silva</h4>
          </div>
          <div class="mb-2">
            <ul class="list-unstyled">
              <li class="media">
                <span class="textos">Data de Nascimento:</span>
                <label class="media-body">31-05-1994</label>
              </li>
              <li class="media">
                <span class="textos">Experiencia em Hardware: </span>
                <label class="media-body">12  Anos</label>
              </li>
              <li class="media">
                <span class="textos">Email: </span>
                <label class="media-body">a20754@alunos.ipca.pt</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 pl-xl-3">
          <h5 class="titulo">Biografia</h5>
          <p>O gosto pela informática é notório, desde os 14 anos que frequento cursos de informática, adquiri o curso de operador de informática em 2008, após a sua conclusão, prossegui estudos, obtendo o curso de Técnico de informática de gestão com equivalência ao 12º ano.
            Após um período a trabalhar na componente de Hardware decidi obter um curso superior para obter mais conhecimentos, candidatando-me à universidade de Coimbra, mas como não foi aprovado o meu ingresso via exame na licenciatura em engenharia informática. Optei por mudar de faculdade e abrir portas a novos horizontes de forma a evitar perlongar o tempo de espera.
          </p>

          <div class="py-1">
            <h5 class="font-weight-normal">Competências:</h5>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar-title">Conhecimentos em Hardware</div>
                <span class="progress-bar-number">100%</span>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar-title">Conhecimentos em Programação</div>
                <span class="progress-bar-number">50%</span>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width:40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar-title">Conhecimentos em Inglês</div>
                <span class="progress-bar-number">40%</span>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

