<div class="boxCookies" *ngIf="!aceiteiCookie" #refContainer>
  <h5>Este website recorre ao uso de cookies para proporcionar uma melhor e mais personalizada experiência de utilização aos seus visitantes. Ao usar este site aceita o uso de cookies tal como descrito na nossa Cookie Notice. Para informações mais detalhadas acerca de como utilizamos cookies e como funcionam, por favor, consulte Cookie Notice.
  </h5>
  <button class="btn" (click)="aceitarCookies(refContainer)"> Aceitar</button>
</div>
