  <nav class="navbar navbar-dark bg-dark espacamento">
      <a class = "nomeNav">Portfólio  de Carlos Silva</a>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="link" >Home</a>
  <a [routerLink]="['/calculadora']" routerLinkActive="router-link-active" class="link">Calculadora</a>
  <a [routerLink]="['/evRef']" routerLinkActive="router-link-active" class="link" >EvRef</a>
  <a [routerLink]="['/chuck']" routerLinkActive="router-link-active" class="link" >Piadas do chuck</a>
  <a [routerLink]="['/listacompras']" routerLinkActive="router-link-active" class="link" >Lista Compras</a>
  <a [routerLink]="['/Pcolor', 'red']" routerLinkActive="router-link-active">Pcolor</a>
  <a [routerLink]="['/Pcolor']" routerLinkActive="router-link-active"></a>

</nav>
