  <nav class="navbar navbar-dark bg-dark espacamento">
      <a class = "nomeNav">Portfólio  de Carlos Silva</a>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="link" >Home</a>
  <a [routerLink]="['/calculadora']" routerLinkActive="router-link-active" class="link">Calculadora</a>
  <a [routerLink]="['/evRef']" routerLinkActive="router-link-active" class="link" >EvRef</a>
  <a [routerLink]="['/listacompras']" routerLinkActive="router-link-active" class="link" >Lista Compras</a>
  </nav>
